<footer class="footer">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-md-3">
                <h5>Keynut</h5>
                <p>Get our offer email first</p>
                <div class="email-input">
                    <input type="email" class="form-control mb-2" placeholder="Enter your email">
                    <i class="bi bi-send"></i>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Support</h5>
                <p>support@keynut.com</p>
                <p>+91 93421 5633</p>
            </div>
            <div class="col-md-3">
                <h5>Account</h5>
                <p>My Account</p>
                <p>Orders</p>
                <p>Wishlist</p>
                <p>Addresses</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Link</h5>
                <p>Privacy Policy</p>
                <p>Terms of Use</p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>© Copyright Keynut 2025. All rights reserved</p>
        </div>
    </div>
</footer>