<div class="col">
    <div class="card product-card h-100 shadow-sm position-relative">
        {% if product.discount > 0 %}
        <div class="badge bg-danger text-white position-absolute top-0 start-0 m-2">{{product.discount|floatformat:0}}% OFF</div>
        {% endif %}
        <a href="javascript:void(0);" class="wish-badge position-absolute top-0 end-0 m-2 text-muted">
            <i id="wishlist-icon-{{product.id}}" 
                class="bi {% if in_wishlist %}bi-heart-fill text-danger{% else %}bi-heart{% endif %} wish-badge-icon"
                data-product-id="{{product.id}}"
                data-csrf-token="{{csrf_token}}"
            ></i>
        </a>
        <div class="image-wrapper">
            <a href="{% url 'product_details' product.slug %}">
                <img src="{{product.thumbnail.url}}" class="product-img" alt="Mabroom Dates">
            </a>
            {% if product.stock > 0 %}
            <button class="btn add-to-cart">Add to Cart</button>
            {% else %}
            <button class="btn out-of-stock">Out of Stock</button>
            {% endif %}
        </div>
        <a class="text-decoration-none text-dark" href="{% url 'product_details' product.slug %}">
        <div class="card-body text-center">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">₹{{product.discount_price|floatformat:2}}{% if product.price != product.discount_price %}<span class="text-muted ms-3"><del>₹{{product.price|floatformat:2}}</del></span>{% endif %}</p>
            <div class="star-rating">
                {% for i in "12345" %}
                    {% if i|add:0 <= product.average_rating %}
                        <span class="star filled">★</span>
                    {% else %}
                        <span class="star">☆</span>
                    {% endif %}
                {% endfor %}
                <span class="star text-secondary">({{ product.rating_count }})</span>
            </div>
        </div>
        </a>
    </div>
</div>