.sidebar {
    border-right: 1px solid #e0e0e0;
    padding: 1.5rem;
    height: 100vh; /* Full height sidebar */
}

.sidebar a {
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
    color: #6c757d;
    font-size: 1rem;
}

.sidebar a.active {
    color: #dc3545; /* Red color for active link */
    font-weight: bold;
}

.sidebar a:hover {
    color: #dc3545;
}

.main-content {
    padding: 2rem;
}
.breadcrumb {
    font-size: 0.875rem;
}
a.mark-as-default {
    display: none;
}
.address-instance:hover a.mark-as-default {
    display: inline-block;
}


@media (max-width: 767.98px) {
    .sidebar {
        height: auto;
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
    }

    .main-content {
        padding: 1rem;
    }
}