.img-fluid {
    max-height: 400px;
    object-fit: cover;
}

#wishlistProductButton {
    border-radius: 10%;
}

.wish-badge-icon {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1;
    color: #000;
}

.card-title,
.card-text {
    font-size: 1rem;
}

.btn-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}
.drift-zoom-pane {
    width: 280px !important; /* Increase width */
    height: 200px !important; /* Increase height */
    border-radius: 0 !important; /* Remove round shape */
    border: 1px solid #ddd; /* Optional border */
    background-color: white; /* Prevent transparency issues */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

@media (max-width: 768px) {
    .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }

    .card-title {
        font-size: 0.875rem;
    }

    .card-text {
        font-size: 0.75rem;
    }

    .img-fluid {
        max-height: 300px;
    }
}