{% extends "admin/dashboard_base.html" %}
{% load static %}
{% block title %}Products{% endblock title %}
{% block page_head %}Products{% endblock page_head %}
{% block content %}
<!-- Customer Page Content -->
<div class="container-fluid py-4">
    <!-- Page Header with Controls -->
    <div class="row mb-4 align-items-center justify-content-between">
        <div class="col-12 col-md-auto mb-3 mb-md-0 d-flex flex-column flex-md-row gap-3">
            <div class="dropdown" style="min-width: fit-content;">
                <button class="btn btn-outline-secondary d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Sort by</span>
                    <i class="bi bi-chevron-down ms-2"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?sortby=name">Name (A-Z)</a></li>
                    <li><a class="dropdown-item" href="?sortby=-name">Name (Z-A)</a></li>
                    <li><a class="dropdown-item" href="?sortby=created_at">Date (Newest)</a></li>
                    <li><a class="dropdown-item" href="?sortby=-created_at">Date (Oldest)</a></li>
                    <li><a class="dropdown-item" href="?sortby=price">Date (Price High-Low)</a></li>
                    <li><a class="dropdown-item" href="?sortby=-price">Date (Price Low-High)</a></li>
                </ul>
            </div>
            
            <div class="dropdown">
                <button class="btn btn-outline-secondary d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel-fill me-1"></i>
                    <span>Filter</span>
                    <i class="bi bi-chevron-down ms-2"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?filter=">All Products</a></li>
                    <li><a class="dropdown-item" href="?filter=active">Listed Products Only</a></li>
                    <li><a class="dropdown-item" href="?filter=blocked">Unlisted Products Only</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-outline-secondary d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel-fill me-1"></i>
                    <span>Category</span>
                    <i class="bi bi-chevron-down ms-2"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?category=">All Categories</a></li>
                    {% for category in categories %}
                    <li><a class="dropdown-item" href="?category={{category.slug}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <form action="" class="d-flex flex-column flex-sm-row gap-2">
                <div class="input-group">
                    <span class="input-group-text bg-light border-end-0">
                        <i class="bi bi-search text-muted"></i>
                    </span>
                    <input type="text" name="q" class="form-control border-start-0 bg-light" placeholder="Search" aria-label="Search">
                </div>
                <a class="clear btn btn-warning w-auto align-self-start" href="{% url 'customers' %}" title="Clear">
                    <i class="bi bi-x-circle"></i>
                </a>
            </form>
        </div>
        
        <div class="col-12 col-md-auto">
            <div class="">
                <button id="addCustomerButton" class="btn btn-danger d-flex align-items-center" type="button" data-bs-toggle="modal" data-bs-target="#addProductModal">
                    <span>Add New Product</span>
                </button>
            </div>
        </div>
    </div>
    
    <!-- Products Table -->
    <div class="card">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead class="bg-light">
                        <tr>
                            <th class="py-3 px-3 border-0">Name</th>
                            <th class="py-3 px-3 border-0">Price</th>
                            <th class="py-3 px-3 border-0">Category</th>
                            <th class="py-3 px-3 border-0">Stock</th>
                            <th class="py-3 px-3 border-0">Listing Status</th>
                            <th class="py-3 px-3 border-0">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for product in products %}
                        <tr>
                            <td class="py-3 px-3">{{ product.name }}</td>
                            <td class="py-3 px-3">{{ product.price }}</td>
                            <td class="py-3 px-3">{{ product.category.name }}</td>
                            <td class="py-3 px-3">{{ product.stock }} {{product.stock}}</td>
                            <td class="py-3 px-3" id="block-status-{{product.id}}">{% if product.is_listed %}Listed{% else %}Not Listed{% endif %}</td>
                            <td class="py-3 px-3">
                                <div class="d-flex gap-2">
                                    <a href="" data-product-id="{{product.id}}" class="edit-product btn btn-sm btn-link text-primary p-0" title="Edit" data-bs-toggle="modal" data-bs-target="#addProductModal">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    {% if product.is_listed %}
                                    <a href="" data-product-id="{{product.id}}" data-product-name="{{product.name}}" data-is-listed="{{product.is_listed}}" class="unlist-product btn btn-sm btn-link text-danger p-0" title="List" data-bs-toggle="modal" data-bs-target="#unlistModal">
                                        <i class="bi bi-x-circle"></i>
                                    </a>
                                    {% else %}
                                    <a href="" data-product-id="{{product.id}}" data-product-name="{{product.name}}" data-is-listed="{{product.is_listed}}" class="unlist-product btn btn-sm btn-link text-success p-0" title="Unlist" data-bs-toggle="modal" data-bs-target="#unlistModal">
                                        <i class="bi bi-check-circle"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- Pagination -->
    <div class="d-flex justify-content-between align-items-center mt-4">
        <div class="text-muted">
            Page <span class="fw-medium">{{ products.number }}</span> of <span class="fw-medium">{{ products.paginator.num_pages }}</span> pages
        </div>
        <nav aria-label="products pagination">
            <ul class="pagination mb-0">
                {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ products.number }}</a></li>
                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
  
<!-- Unlist Confirmation Modal -->
<div class="modal fade" id="unlistModal" tabindex="-1" aria-labelledby="unlistModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unlistModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="unlistModalDesc"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="unlistCloseButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="unlistConfirmButton" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>


<!-- Hidden link to trigger the Block Feedback modal -->
<a id="triggerFeedbackModal" href="#" data-bs-toggle="modal" data-bs-target="#feedbackModal" style="display:none;"></a>

<!-- Feedback Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="feedbackModalDesc"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="feedbackModalCloseButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                        {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="addProductSubmitButton" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<!-- Products page specific JS file -->
<script src="{% static 'js/adminpanel_products.js' %}"></script>
{% endblock script %}