{% extends "admin/dashboard_base.html" %}
{% load static %}
{% block title %}Wallet Transactions{% endblock title %}

{% block script_top %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock script_top %}

{% block page_head %}
<i class="bi bi-wallet2 me-2"></i>
Wallet Transactions
{% endblock page_head %}

{% block content %}
<!-- Wallet Transactions Page Content -->
<div class="container-fluid py-4">
    <!-- Page Header with Controls -->
    <div class="row mb-4 align-items-center justify-content-between">
        <div class="col-12 col-md-auto mb-3 mb-md-0 d-flex flex-column flex-md-row gap-3">
            <div class="dropdown" style="min-width: fit-content;">
                <button class="btn btn-outline-secondary d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Sort by</span>
                    <i class="bi bi-chevron-down ms-2"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?sortby=-created_at">Date (Newest)</a></li>
                    <li><a class="dropdown-item" href="?sortby=created_at">Date (Oldest)</a></li>
                </ul>
            </div>
            
            <div class="dropdown">
                <button class="btn btn-outline-secondary d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel-fill me-1"></i>
                    <span>Payment Status</span>
                    <i class="bi bi-chevron-down ms-2"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?status=">All</a></li>
                    <li><a class="dropdown-item" href="?status=success">Success</a></li>
                    <li><a class="dropdown-item" href="?status=failed">Failed</a></li>
                    <li><a class="dropdown-item" href="?status=pending">Pending</a></li>
                </ul>
            </div>

            <form action="" class="d-flex flex-column flex-sm-row gap-2">
                <div class="input-group">
                    <span class="input-group-text bg-light border-end-0">
                        <i class="bi bi-search text-muted"></i>
                    </span>
                    <input type="text" name="q" class="form-control border-start-0 bg-light" placeholder="Search" aria-label="Search">
                </div>
                <a class="clear btn btn-warning w-auto align-self-start" href="{% url 'admin_wallet_transactions' %}" title="Clear">
                    <i class="bi bi-x-circle"></i>
                </a>
            </form>
        </div>
        
    </div>
    
    <!-- Transactions Table Table -->
    <div class="card">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead class="bg-light">
                        <tr>
                            <th class="py-3 px-3 border-0">Date</th>
                            <th class="py-3 px-3 border-0">Tnx. ID</th>
                            <th class="py-3 px-3 border-0">User</th>
                            <th class="py-3 px-3 border-0">Related Order</th>
                            <th class="py-3 px-3 border-0">Type</th>
                            <th class="py-3 px-3 border-0">Notes</th>
                            <th class="py-3 px-3 border-0">Amount</th>
                            <th class="py-3 px-3 border-0">Tnx. Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for transaction in transactions %}
                        <tr class="align-middle">
                            <td class="py-3 px-3">{{ transaction.created_at }}</td>
                            <td class="py-3 px-3">{{ transaction.transaction_id }}</td>
                            <td class="py-3 px-3">{{ transaction.wallet.user.first_name }}</td>
                            <td class="py-3 px-3">
                                <a class="btn-view-order text-decoration-none text-primary" href="#" 
                                    data-order-id="{{transaction.order.order_id}}"
                                    data-bs-toggle="modal" data-bs-target="#orderDetailsModal">
                                    {{ transaction.order.order_id }}
                                </a>
                            </td>
                            <td class="py-3 px-3">{{ transaction.get_transaction_type_display }}</td>
                            <td class="py-3 px-3">{{ transaction.notes }}</td>
                            {% if transaction.transaction_type == 'payment' %}
                                <td class="py-3 px-3 text-danger">-{{ transaction.amount }}</td>
                            {% else %}
                                <td class="py-3 px-3 text-success">+{{ transaction.amount }}</td>
                            {% endif %}
                            <td class="py-3 px-3">{{ transaction.get_status_display }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- Pagination -->
    <div class="d-flex justify-content-between align-items-center mt-4">
        <div class="text-muted">
            Page <span class="fw-medium">{{ transactions.number }}</span> of <span class="fw-medium">{{ transactions.paginator.num_pages }}</span> pages
        </div>
        <nav aria-label="orders pagination">
            <ul class="pagination mb-0">
                {% if transactions.has_previous %}
                <li class="page-item">
                    <a class="page-link pagination-link" data-page="{{ transactions.previous_page_number }}" aria-label="Previous" style="cursor: pointer;">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link">{{ transactions.number }}</a>
                </li>

                {% if transactions.has_next %}
                <li class="page-item">
                    <a class="page-link pagination-link" data-page="{{ transactions.next_page_number }}" aria-label="Next" style="cursor: pointer;">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>



<!-- Order Details Modal -->
<div class="modal fade" id="orderDetailsModal" tabindex="-1" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="mb-2">
                            <p class="m-0 text-secondary">Order ID:</p>
                            <p class="order-id m-0 fw-bold"></p>
                        </div>
                        <dvi class="mb-3">
                            <p class="mb-2 text-secondary">Order Date: <span class="order-date text-dark"></span></p>
                            <p class="mb-2 text-secondary">Status: <span class="order-status text-dark"></span></p>
                        </dvi>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="payment-summary border border-secondary px-2 py-1">
                            <p class="m-0">Payment Summary:</p>
                            <p class="d-flex justify-content-between mb-0">
                                <span>Subtotal:</span><span class="subtotal">₹0</span>
                            </p>
                            <hr class="my-0">
                            <p class="d-flex justify-content-between mb-0">
                                <span>Shipping:</span><span class="shipping-charge">₹0</span>
                            </p>
                            <hr class="my-0">
                            <p class="d-flex justify-content-between mb-0">
                                <span>Promotion/Discoutn:</span><span class="discount">-₹0</span>
                            </p>
                            <hr class="my-0">
                            <p class="d-flex justify-content-between mb-0 fw-bold">
                                <span>Total:</span><span class="order-total">₹0</span>
                            </p>
                            <hr class="my-0">
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="m-0 text-secondary">Delivery address:</p>
                        <p class="delivery-address"></p>
                    </div>
                </div>
                <div class="order-items">
                    <p class="small mb-1 fw-bold">Order Items:</p>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead class="bg-light">
                                <tr>
                                    <th class="py-2 px-3 border-0">Product</th>
                                    <th class="py-2 px-3 border-0">Price</th>
                                    <th class="py-2 px-3 border-0">Qty.</th>
                                    <th class="py-2 px-3 border-0">Amount</th>
                                </tr>
                            </thead>
                            <tbody class="order-items-table">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="order-items mt-3">
                    <p class="small mb-1 fw-bold">Payment records:</p>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead class="bg-light">
                                <tr>
                                    <th class="py-2 px-3 border-0">Date</th>
                                    <th class="py-2 px-3 border-0">Amount</th>
                                    <th class="py-2 px-3 border-0">Payment</th>
                                    <th class="py-2 px-3 border-0">Trans.ID</th>
                                </tr>
                            </thead>
                            <tbody class="payments-table">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="submit" id="orderDetailsSubmitButton" class="btn btn-primary">Save</button> -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block script %}
<!-- Products page specific JS file -->
<script src="{% static 'js/adminpanel_wallet.js' %}"></script>
{% endblock script %}