{% extends "web/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block top-banner %}
{% include "web/includes/top-banner.html" %}
{% endblock%}

{% block header-nav %}
{% include "web/includes/header-nav.html" %}
{% endblock%}

{% block content %}

<!-- Messages -->
<div class="messages container col-12 mt-5 mb-2 text-center">
    {% for message in messages %}
    <p class="{% if message.tags == 'success' %}text-success{% else %}text-danger{% endif %}">{{message}}</p>
    {% endfor %}
</div>

<!-- Categories and Banner Section -->
<section class="categories-banner py-5">
    <div class="container">
        <div class="row">
            <!-- Categories -->
            <div class="col-md-3">
                <h5 class="mb-3">Categories</h5>
                <ul class="list-unstyled">
                    <hr class="m-1">
                    {% for category in categories %}
                    <li class="">
                        <a href="{% url 'products' %}?category={{category.slug}}" class="text-decoration-none text-dark ms-2">{{category.name}}</a>
                        <hr class="m-1">
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Main Banner -->
            <div class="col-md-9">
                {% if main_offer %}
                <div class="main-banner rounded" style="background: url({{main_offer.banner_image.url}}) no-repeat center/cover;">
                    <div class="container">
                        <h1>{{main_offer.name}}</h1>
                        <p class="mx-auto" style="max-width: 70%">{{main_offer.description}}</p>
                        <a href="{% url 'deals' %}" class="btn btn-light btn-lg">Shop Now</a>
                    </div>
                </div>
                {% else %}
                <div class="main-banner rounded" style="background: url({% static 'images/sales-bg.webp' %}) no-repeat center/cover;">
                    <div class="container">
                        <h1>One Bite! That's Enough.</h1>
                        <p class="fs-5">Explore the taste of premium quality nuts, dry fruits, and spices.</p>
                        <a href="{% url 'deals' %}" class="btn btn-light btn-lg">Shop Now</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- Flash Sales -->
<section class="flash-sales py-5">
    <div class="container">
        <div class="section-title-container">
            <h3 class="section-title">Today's Flash Sales</h3>
            <div class="countdown">
                <div class="time-circle">00 <span class="label">Hours</span></div><span class="">:</span>
                <div class="time-circle">23 <span class="label">Minutes</span></div><span class="">:</span>
                <div class="time-circle">19 <span class="label">Seconds</span></div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            
            {% load custom_tags %}
            {% for product in flash_sales %}
                {% include 'web/includes/product_card.html' with product=product in_wishlist=product|is_in_wishlist:request.user %}
            {% endfor %}
            
        </div>
        <div class="text-center mt-3">
            <a href="{% url 'products' %}?sort=relevance" class="view-all-btn btn btn-danger">View All Products</a>
        </div>
    </div>
</section>

<!-- Best Selling Products -->
<section class="best-selling py-5">
    <div class="container">
        <h3 class="section-title">Best Selling Products</h3>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            
            {% for product in best_selling %}
                {% include 'web/includes/product_card.html' with product=product in_wishlist=product|is_in_wishlist:request.user %}
            {% endfor %}

        </div>
        <div class="text-center mt-3">
            <a href="{% url 'products' %}?sort=relevance" class="view-all-btn btn btn-danger">View All</a>
        </div>
    </div>
</section>

<!-- Deal of the Day -->
<section class="deal-of-day py-5" 
    {% if second_offer %}
    style="background: url({{second_offer.banner_image.url}}) no-repeat center/cover;"
    {% else %}
    style="background: url({% static 'images/sales-bg.webp' %}) no-repeat center/cover;"
    {% endif %}
>
    <div class="container">
        <h3 class="section-title py-1 px-2 fs-5 bg-dark text-white rounded-2 d-inline-block">Deal of the Day</h3>
        <h1>Enhance Your Bite Experience{% if second_offer %} with {{second_offer.name}}{% endif %}</h1>
        <p class="fs-4">One Bite! That's enough to get in love.</p>
        <a href="{% url 'deals' %}" class="btn btn-light btn-lg">Buy Now</a>
    </div>
</section>

<!-- New Arrival -->
<section class="new-arrival py-5">
    <div class="container">
        <h3 class="section-title">New Arrival</h3>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            
            {% for product in new_arrivals %}
                {% include 'web/includes/product_card.html' with product=product in_wishlist=product|is_in_wishlist:request.user %}
            {% endfor %}

        </div>
    </div>
</section>

<!-- Features Section -->
<section class="features-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <i class="bi bi-truck"></i>
                <p>Free and Fast Delivery on all orders over ₹500</p>
            </div>
            <div class="col-md-4">
                <i class="bi bi-headset"></i>
                <p>24/7 Customer Service</p>
            </div>
            <div class="col-md-4">
                <i class="bi bi-arrow-counterclockwise"></i>
                <p>Money Back Guarantee in 30 days</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block footer %}
{% include "web/includes/footer.html" %}
{% endblock %}