{% extends "web/base.html" %}

{% block title %}Order Failed{% endblock title %}

{% block stylesheet %}
<style>
    .breadcrumb {
        font-size: 0.875rem;
        margin-bottom: 1.5rem;
    }
</style>
{% endblock stylesheet %}

{% block header-nav %}
{% include "web/includes/header-nav.html" %}
{% endblock%}

{% block content %}

<!-- Messages -->
<div class="messages col-12 my-3 text-center">
    {% for message in messages %}
    <p class="{% if message.tags == 'success' %}text-success{% else %}text-danger{% endif %}">{{message}}</p>
    {% endfor %}
</div>

<!-- Content Section -->
<section class="container pt-4 pb-5 mb-3">

    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="card shadow-lg p-4 text-center" style="max-width: 500px;">
            <div class="mb-3">
                <div class="text-center text-danger" style="font-size: 5rem;">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <h2 class="text-success">Payment failed!</h2>
            <p class="text-muted">Your order payment was unsuccessful. Please retry payment.</p>
            
            <div class="d-grid gap-2 mt-3">
                <form action="{% url 'checkout_retry' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{order.order_id}}">
                    <button type="submit" class="btn btn-danger w-100">Retry Payment</button>
                </form>
                <a href="{% url 'user_orders' %}" class="btn btn-outline-danger">View Orders</a>
            </div>
        </div>
    </div>

    
</section>

{% endblock content %}

{% block footer %}
{% include "web/includes/footer.html" %}
{% endblock %}


